@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
  font-family: montserrat, sans-serif;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  color: var(--primary-text-color);
}

:root{
  --primary-color: #08070b;
  --secondary-color: #0f0e14;
  --accent-color: white;
  --primary-text-color: white;
  --secondary-text-color: black;
}

Link{
  text-decoration: none;
  border: none;
}

body, #root, .App{
  background-color: var(--primary-color);
  margin: 0;
  padding: 0;
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  width: 100vw;
}