@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&display=swap');

*{
  font-family: Rubik, sans-serif;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  color: var(--primary-text-color);
  transition: all .3s ease-in-out;
}

:root{
  --primary-color: #f0efeb;
  --secondary-color: #e6e4dd;
  --accent-color: #000000;
  --primary-text-color: #2c2929;
  --secondary-text-color: white;
  --padding-inline-layout: 70px;
  --content-font: 'Cinzel', serif;
}

[data-theme="dark"]{
  --primary-color: #232833;
  --secondary-color: #363b44;
  --accent-color: white;
  --primary-text-color: white;
  --secondary-text-color: black;
}

@media (max-width: 700px) {
  :root{
    --padding-inline-layout: 35px;
  }
}

Link{
  text-decoration: none;
  border: none;
}

body, #root, .App{
  background-color: var(--primary-color);
  margin: 0;
  padding: 0;
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  width: 100vw;
}